<div class="container">
  <h1>Dashboard</h1>
  <p>Tervetuloa, <%= fullname %>!</p>

  <nav>
    <ul>
      <li><a href="/customers">Asiakkaat ja käyttäjät</a></li>
      <li><a href="/tickets">Tukipyynnöt</a></li>
      <li><a href="/feedback">Palaute</a></li>
      <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
  </nav>
</div>
